<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="il2c-devel" value="https://www.myget.org/F/il2c/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="kekyo" value="https://www.myget.org/F/kekyo/api/v3/index.json" />
  </packageSources>
</configuration>
